.about {
  .content {
    padding: 0 2em .5em 2em;
  }

  .about--title {
    color: #F5F5F5;
    font-weight: 700;
    line-height:1.5em;
  }

  .about--details {
    color: #DCDCDC;
    font-size: 0.7em;
    line-height: 150%;
  }
}

