.footer {
  .content {
    padding: 1.5em;
    background: #161619;
    border-radius: 0 0 0.625em 0.625em;
    
    display: flex;
    justify-content: center;
    gap: 1em;
  }
  .footer-button {
    color: #918E9B;
  }
}

